<mat-toolbar color="primary" class="admin-panel" *ngIf="isAdmin">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon class="icon-home">key_vertical</mat-icon>
      <span class="admin-panel-title">Админ Панель</span>
    </div>

    <span class="example-spacer"></span>

    <div class="toolbar no-select">
      <button class="toolbar-button" mat-flat-button (click)="openDialog()">
        Добавить товар
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" *ngFor="let product of products">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-header>
    <img class="image" mat-card-image [src]="product?.image" />
    <mat-card-content>
      <p>Цена: {{ product.price | currency : "RUB" : "symbol-narrow" }}</p>
      <p>{{ product.configure.display }}</p>
      <p>Процессор: {{ product.configure.processor }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-button>В корзину</button>
      <button class="button" mat-button [routerLink]="['/product', product.id]">
        Подробнее
      </button>
      <button mat-button class="button" [matMenuTriggerFor]="menu">Ред</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteItem(product.id)">Удалить</button>
        <button mat-menu-item>Редактировать</button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>
